{% extends "base.html" %}
{% block head %}
	{%load staticfiles %}
	<link rel="stylesheet" href="{% static 'estilos/index.css' %}">
			
{% endblock %}

{% block cuerpo %}


	<section>
		<div class="cabecera">
			<div class="tesla">
				<video autoplay loop muted src="{% static 'video/Tesla.mp4' %}"></video>
				<header class="grid-overlay">
					<table class="tablaCabecera">
						<tr>
							<td>
								<img src="{% static 'img\blanco.png' %}" alt="Logo principal de Round-Robin.com" class="bienvenida3">
							</td>
							<td>
								<h1 id="tipoLetra">Round-Robin.com</h1>
								<h2>Fomentando la movilidad electrica</h2>
							</td>
						</tr>
					</table>
				</header>
			</div>
		</div>
		<div class="estadisticas container-fluid">
			<div class="row">
				<div class="col-md-4 temasE">
						<h2>Usuarios</h2>
						<h1 class="number">{{total_usuarios}}</h1>
				</div>
				<div class="col-md-4 respuestasE">
						<h2>Vehículos</h2>
						<h1 class="number">{{total_vehiculos}}</h1>
				</div>
				<div class="col-md-4 usuariosE">
						<h2>Fabricantes</h2>
						<h1 class="number">{{total_fabricantes}}</h1>
				</div>
			</div>
		</div>
		<div class="container secciones">
		<h1>Ventajas y desventajas</h1>
		<div class="row criptomonedas">
			<div class="col-md-4">
				<img src="{% static 'img\ventajas.png' %}" alt="" class="simagen">
			</div>
			<div class="col-md-8 descrip">
				<p>Aquí podrás encontrar información sobre las distintas ventajas y desventajas que proporciona un coche eléctrico sobre uno termico, entre las más destacadas, podremos encontrar una comparación exhaustiva sobre los gatos que acarrean mantener un vehículo eléctrico frente a uno termico</p>
			</div>
		</div>
		<hr>
		<h1>Concesionario</h1>

		<div class="row metodosPago">

			<div class="col-md-8 descrip">
				<p>
					Compre su coche eléctrico o hibrido enchufable favorito, tenemos más de 15 marcas, todas a su disposición, configurelo y elija su paquete de personalización favorito
				</p>
			</div>
			<div class="col-md-4 simagen">
				<img src="{% static 'img\concesionario.png' %}" alt="" class="simagen">
			</div>
		</div>
		<hr>
		<h1>Contacto</h1>

		<div class="row descargar">
			<div class="col-md-4 simagen">
				<img src="{% static 'img\contacto.png' %}" alt="" class="simagen">
			</div>
			<div class="col-md-8 descrip">
				<p>¿Tienes alguna duda?, ¿no existe el color del modelo de coche que andas buscando? o simplemente ¿has olvidado tu contraseña?, hay habilitada una sección de contacto en nuestra web, el cual podrás enviarnos tus dudas e inquietudes a través del apartado contacto, las responderemos con la mayor brevedad posible</p>
			</div>
		</div>
	</section>
	<script src="{% static 'js/letrasIndex.js' %}"></script>
{% endblock %}