{% extends "base.html" %}
{% block head %}
	{%load staticfiles %}
	<link rel="stylesheet" href="{% static 'estilos/ventajas.css' %}">
			
{% endblock %}

{% block cuerpo %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="contenido">
	

<div class="introduccion">
	<h1>Ventajas de usar un vehículo eléctrico</h1>
</div>
<div class="container">
	<img src="{% static 'img/banner_ventajas.png' %}" class="banner" alt="banner_ventajas">
</div>
<div class="container-fluid postintroduccion">
	<h1>Ventajas en 3 tablas</h1>
	<p>En esta sección, encontrarás una serie de tablas que comparar modelos eléctricos con térmicos. Descubre las diferencias en los 3 puntos clave</p>
</div>

<div class="container-fluid seccion">
	<h1>Consumo</h1>
	<img src="{% static 'img/consumo.png' %}" alt="">
	<p class="leyendaTabla">
		Eléctrico -> Renault ZOE 40  |  Diesel -> Seat Leon 1.6 TDI CR 115 CV  |  Gasolina -> Seat Leon 1.2 TSI 110 CV
	</p>
</div>


<div class="container-fluid seccion">
	<h1>Mantenimiento</h1>
	<img src="{% static 'img/mantenimiento.png' %}" alt="">
	<p class="leyendaTabla">
		Informe sobre los coches más fiables 
		<a href="https://www.ocu.org/-/media/ocu/images/paper%20publications/ocucompra%20maestra/2014/389/los%20coches%20mas%20fiables/reference/los%20coches%20mas%20fiables/fiabilidadcoches%20(cm389_febrero2014)%20pdf.pdf?la=es-es">(Ocu 2014)</a>
	</p>
	<p class="leyendaTabla">
		Mantenimiento de un coche eléctrico frente al de un coche térmico 
		<a href="https://corrienteelectrica.renault.es/comparativa-mantenimiento-coche-electrico-frente-coche-termico/">(Renault)</a>
	</p>
</div>

<div class="container-fluid seccion">
	<h1>Emisiones</h1>
	<img src="{% static 'img/emisiones.png' %}" alt="">
	<p class="leyendaTabla">
		El transporte personal en España: a cada habitante del país le corresponde, de media, un recorrido de 28,9 Km/persona/día en coche <a href="http://www.ecologistasenaccion.org/IMG/pdf/info_cuentas-ecologicas.pdf">[PDF]</a>
	</p>
		
	<p class="leyendaTabla">
		CO2 emitido en la producción de electricidad en España <a href="http://www.ree.es/sites/default/files/11_PUBLICACIONES/Documentos/InformesSistemaElectrico/2016/inf_sis_elec_ree_2016.pdf">[PDF]</a>
	</p>
</div>
<div class="container seccion contaminante" onclick="ventajas()">
	<h1>¿El coche eléctrico no contamina?</h1>
	<div id="contaminacion" >
		haz click para más información
	</div>
</div>


</div>
<script src="{% static 'js/secciones.js' %}"></script>
{% endblock %}