
.derecha{
	text-align: right;
}
.tablaCabecera{
  z-index: 1;
  position: absolute;
  top: -650px;
	width: 70%;
	margin-left: 15%;
}
.tablaCabecera img{
  width: 70%;
}
.cabecera{
	margin-top: -10px;
	background-color: rgb(0,64,32);
	color: white;
	text-align: center;
}
.secciones{
  text-align: center;
  background-color: #333;
  border-radius: 10px;
  padding: 2% 5% 2% 5%;
  margin-top: 5%;
  color: white;
}
.simagen{
  width: 100%;
  margin-top: 50px; 
  border-radius: 10px;
}
.descrip{
  padding: 10%;
}


.estadisticas{
    margin-top: -10px;
    background-color: yellow;
    text-align: center;
    color: white;
    background-color: #333;
    height: 200px;
    text-shadow: 5px 2px black;

}
.temasE{
  padding: 1%;
  height: 200px;
}
.respuestasE{
  padding: 1%;
  height: 200px;
}
.usuariosE{
  padding: 1%;
  height: 200px;
}
.number{
  margin-top: 5%;
  font-size: 80px;
}

/* Video cabecera */


*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
}

body {
  @include animation(fadeIn 2s ease-in-out);
  font-family: 'Roboto', sans-serif;
  background-color: $bgcolor;
  color: #e3dac9;
}

.tesla {
  width: 100%;
  overflow: hidden;
  
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  header {
    @include transform( translate(-50%, -50%) );
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;

  }
}
header h1{
  @include transform( scale(1, 2) );
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; 
  font-size: 4rem;
  text-transform: uppercase;
  word-spacing: 1vw;
  letter-spacing: 0.25rem;
}

.content-area {
  min-height: 50vh;
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 4rem;
}

@include keyframes(fadeIn) {
  from { opacity: 0; }
  to   { opacity: 1; }
}

video{
  margin-top: -5%;
  padding: 0;
  width: 110%;
}