.contenido{
    text-align: center;
    color: #181818;
}

.banner{
    width: 100%;

}
.introduccion h1{
    font-size: 80px;
}
.postintroduccion{

    color: white;
    background-color: #004020;
    padding: 5%;
    width: 100%;
}
.leyendaTabla{
    font-weight: lighter;
}
.seccion{
    margin-top: 8%;
}
.contaminante p{
    text-align: justify;
}
.contaminante h1{
    border-radius: 10px;
    color: white;
    padding: 5%;
    background-color: #004020;
    margin-bottom: 5%;
}
